<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body>
        <div class="container1">
            <div class="header">
                <h1 class="title">List Obat</h1>
                <a class="add-button" th:href="@{/add-obat}">Add New Obat</a>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-header">ID</th>
                        <th class="table-header">Name</th>
                        <th class="table-header">Price</th>
                        <th class="table-header">Description</th>
                        <th class="table-header">Category Name</th>
                
                        <th class="table-header">Supplier Name</th>
                        <th class="table-header">Supplier Phone</th>

                        <th class="table-header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="obat : ${obat}">
                        <td class="table-data" th:text="${obat.id}"></td>
                        <td class="table-data" th:text="${obat.namaObat}"></td>
                        <td class="table-data" th:text="${obat.price}"></td>
                        <td class="table-data" th:text="${obat.description}"></td>
                        <td class="table-data" th:text="${obat.category != null ? obat.category.name : '-'}"></td>
                        <td class="table-data" th:text="${obat.supplier != null ? obat.supplier.name : '-'}"></td>
                        <td class="table-data" th:text="${obat.supplier != null ? obat.supplier.phone : '-'}"></td>
                        <td>
                            <!-- Form untuk Delete -->
                            <form th:action="@{/delete-obat/{id}(id=${obat.id})}" method="post" style="display: inline;">
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                            
                            <!-- Link untuk Update -->
                            <a th:href="@{/update-obat/{id}(id=${obat.id})}" class="update-button">Update</a>
                        </td>
                        </tr>
                </tbody>
            </table>
            <a class="back-link" th:href="@{/list-category}">List Category</a>
            <a class="back-link" th:href="@{/list-supplier}">List Supplier</a>
        </div>
    </body>
</html>
